<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.uaa.admin.persistence.ApilogMapper">
	

	<select id="getRequestCount" parameterType="java.util.Map" resultType="Integer">
		SELECT COUNT(DISTINCT log_id) FROM uaa_apilog
		<where>
			<![CDATA[ #{end_time} - request_time <= #{interval}*1000 ]]>
		</where>
	</select>

	<select id="getUniqueAddrCount" parameterType="java.util.Map" resultType="Integer">
		SELECT COUNT(DISTINCT addr) FROM uaa_apilog
		<where>
			<if test="apilist != null">
				res_uri IN
				<foreach item="item" index="index" collection="apilist" open="(" separator="," close=")">
        		#{item}
  				</foreach>
  				AND
			</if>
			<![CDATA[ #{end_time} - request_time <= #{interval}*1000 ]]>
		</where>
	</select>

</mapper>