<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.uaa.admin.persistence.UserRoleMapper">

	<insert id="insertUserRole" parameterType="UserRole">
		INSERT INTO uaa_userRole
		(user_id, role_id)
		VALUES
		(#{user_id}, #{role_id})
		<selectKey resultType="Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
	</insert>
	
	<delete id="deleteUserRoles" parameterType="java.util.Map">
		DELETE FROM uaa_userRole WHERE user_id=#{user_id}
	</delete>

	<select id="queryUserRoles" parameterType="java.util.Map" resultType="UserRole">
		SELECT * FROM uaa_userRole WHERE user_id=#{user_id}
	</select>
	
</mapper>