<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.uaa.security.persistence.SecurityMapper">

	<select id="queryPublicResources" resultType="Resource">
		SELECT * FROM uaa_resource WHERE res_type='public'
	</select>

	<select id="queryNonPublicResources" resultType="Resource">
		SELECT * FROM uaa_resource WHERE res_type!='public'
	</select>

	<select id="queryNeededRoles" parameterType="java.util.Map"
		resultType="Integer">
		SELECT role.role_id
		FROM uaa_role role,
		uaa_resource res,
		uaa_authority auth,
		uaa_roleAuthority roleAuth,
		uaa_authorityResource authRes
		WHERE role.role_id=roleAuth.role_id
		and roleAuth.auth_id=auth.auth_id
		and auth.auth_id=authRes.auth_id
		and authRes.res_id=res.res_id
		and res.res_uri=#{res_uri}
		and res.res_action=#{res_action}
	</select>

	<select id="queryUserByUsername" parameterType="java.util.Map"
		resultType="User">
		SELECT user_id, username, password
		FROM uaa_user
		WHERE
		username=#{username}
	</select>

	<select id="queryUserRoles" parameterType="java.util.Map"
		resultType="Integer">
		SELECT ar.role_id
		FROM uaa_userRole ar
		WHERE
		ar.user_id=#{user_id}
	</select>

	<update id="updateLastLoginInfo" parameterType="java.util.Map">
		UPDATE uaa_user
		SET
		last_login_time=#{last_login_time},
		last_login_addr=#{last_login_addr}
		WHERE username=#{username}
	</update>

	<insert id="insertLog" parameterType="Apilog">
		INSERT INTO uaa_apilog
		(res_uri, res_action, addr, request_time, client)
		VALUES
		(#{res_uri}, #{res_action}, #{addr}, #{request_time}, #{client})
		<selectKey resultType="Integer" order="AFTER" keyProperty="log_id">
			SELECT LAST_INSERT_ID() AS log_id
		</selectKey>
	</insert>
	
	<update id="updateLog" parameterType="Apilog">
		UPDATE uaa_apilog
		<set>
			<if test="res_uri != null">res_uri = #{res_uri},</if>
			<if test="res_action != null">res_action = #{res_action},</if>
			<if test="addr != null">addr = #{addr},</if>
			<if test="client != null">client = #{client},</if>
			<if test="uid != null">uid = #{uid},</if>
			<if test="request_time != null">request_time = #{request_time},</if>
			<if test="response_time != null">response_time = #{response_time},</if>
			<if test="time != null">time = #{time},</if>
		</set>
		WHERE log_id = #{log_id}
	</update>
</mapper>