<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>User Authentication and Authorization System</display-name>
  
  <welcome-file-list>
  	<welcome-file>login.html</welcome-file>
  </welcome-file-list>
  
  <context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>classpath:UaaApplicationContext.xml</param-value>
  </context-param>
  <!-- Set Spring ContextLoaderListener -->
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- Set characterEncoding filter -->
  <filter> 
    <filter-name>encodingFilter</filter-name> 
    <filter-class> 
      org.springframework.web.filter.CharacterEncodingFilter 
    </filter-class> 
    <init-param> 
      <param-name>encoding</param-name> 
      <param-value>UTF-8</param-value> 
    </init-param> 
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- Set User Authentication and Authorization Filter -->
  <filter>
  	<filter-name>SecurityControlFilter</filter-name>
  	<filter-class>org.uaa.security.core.SecurityControlFilter</filter-class>
  	<init-param>
  		<param-name>login_url</param-name>
  		<param-value>/1/login</param-value>
  	</init-param>
  	<init-param>
  		<param-name>logout_url</param-name>
  		<param-value>/1/logout</param-value>
  	</init-param>
  	<init-param>
  		<param-name>principal_name</param-name>
  		<param-value>username</param-value>
  	</init-param>
  	<init-param>
  		<param-name>credential_name</param-name>
  		<param-value>password</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>SecurityControlFilter</filter-name>
  	<url-pattern>/1/*</url-pattern>
  </filter-mapping>
  
  <!-- Set Jersey Service -->
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>org.uaa</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/1/*</url-pattern>
  </servlet-mapping>
  
</web-app>
